<html>
    <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<!------ Include the above in your HEAD tag ---------->
<body>
<div class="page-wrap d-flex flex-row align-items-center h-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Oops! We can't seem to find the page you are looking for.</div>
                <a href="#" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
</body>
