<%- include('../partials/header.ejs') -%>

<div class="article container-fluid">
    <% data.forEach(article => { %>
    <a href="/articles/<%=article._id%>">
        <h3><%= article.title %></h3>
        </a>
        <p class="font-italic text-muted">Was posted at <%= moment.utc(article.createdAt).calendar()%> 
             by <%=article.author.firstName + ' ' + article.author.lastName %></p>
        <p class="font-weight-light"><%=article.description%></p>
   <% });%>
</div>
<%- include('../partials/footer.ejs') -%>