<%- include('../partials/header.ejs') -%>

<div class="article container-fluid">
    <a class="btn btn-success" href="/articles/create">Add new article</a>
    <ul class="list-group">
        <% data.forEach(article => { %>
        <li class="list-group-item d-flex">
            <div class="col-4">
                <a href="/articles/<%=article._id%>">
                    <h3><%= article.title %></h3>
                </a>
            </div>

            <div class="col-6">
                <p class="font-italic text-muted"><%= moment(article.createdAt).format('LLL')%></p>
            </div>

            <div class="col d-flex">
                <a class="btn btn-primary" href="/articles/<%= article._id%>/update"><i class="fas fa-edit"></i></a>
                <form action="/articles/<%= article._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger" onclick="return confirmDelete('Article')"><i class="fas fa-trash-alt"></i></button>
            </div>
            </form>
        </li>
        <% });%>
    </ul>
</div>
<%- include('../partials/footer.ejs') -%>